{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<style>
  .pricing-header {
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .pricing-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin: 10px 0 50px !important;
  }
  .pricing-grid {
    background: #000;
    gap: 2px;
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    padding: 0 !important;
  }
  .pricing-grid-item {
    background: #fff;
    color: black;
  }
  .landing-page {
    padding: 60px 30px 30px;
    position: relative;
  }

  .highlight {
    color: #fff;
    border-radius: 5px;
    background: var(--color-100, #ff8038);
    padding: 6px 10px;
    width: auto !important;
    position: absolute;
    top: 0;
    left: 47px;
    transform: translateY(-50%);
  }
  .highlight p {
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 200% */
    letter-spacing: 1px;
    margin: 0;
  }

  .landing-page h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: black;
  }
  .landing-page small {
    display: block;
  }
  .pricing-button {
    border-radius: 8px;
    background: var(--color-400, #797af2);
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .whats-included {
    padding: 30px;
  }
  .whats-included h2 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
  }
  .book-refer {
    padding: 40px 30px 30px 30px;
  }
  .book-refer h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
  .book-refer p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .pricing-link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: underline;
  }
</style>

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        <h2
          class="pricing-header rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.heading }}
        </h2>
        <div
          class="pricing-text rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {{ block.shopify_attributes }}
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {{ section.settings.text }}
        </div>
      </div>
    </div>
    <div class="pricing-grid page-width">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'landing_page' %}
            <div class="pricing-grid-item landing-page">
              <div class="highlight">
                <p>{{ block.settings.highlight | upcase }}</p>
              </div>
              <h2>{{ block.settings.header }}</h2>
              <p>{{ block.settings.paragraph }}</p>
              <span>{{ block.settings.price }}</span>
              <small>{{ block.settings.price_caption }}</small>
              {%- if block.settings.button_label != blank -%}
                <a
                  class=" pricing-button button button--primary"
                  {% if block.settings.button_link == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                >
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
            </div>

          {% when 'book_refer' %}
            <div class="pricing-grid-item book-refer">
              <img src="{{ block.settings.image | image_url }}" alt="" width="auto" height="auto" loading="lazy">
              <h2>{{ block.settings.header }}</h2>
              <p>{{ block.settings.text }}</p>
              <a class="pricing-link link" href="{{ block.settings.link }}">{{ block.settings.link_text }}</a>
            </div>

          {% when 'whats_included' %}
            <div class="pricing-grid-item whats-included">
              <h2>{{ block.settings.header }}</h2>
              <div>{{ block.settings.bullet_text }}</div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "EcomOS Pricing",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Pricing"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Section Text",
      "default": "Choose a plan that’s right for you."
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Container Color Scheme",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
    {
      "type": "landing_page",
      "name": "Landing Page Block",
      "settings": [
        {
          "type": "text",
          "id": "highlight",
          "label": "Highlight text"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "textarea",
          "id": "paragraph",
          "label": "Paragraph"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "text",
          "id": "price_caption",
          "label": "Price Caption"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label",
          "default": "Click Me"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "book_refer",
      "name": "Book and Refer Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "whats_included",
      "name": "Whats Included Block",
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "bullet_text",
          "label": "Bullet Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "EcomOS Pricing",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
