{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

{% comment %}
  <link
  as="style"
  crossorigin
  href="{{ 'swiper.min.css' | asset_url }}"
  rel="stylesheet preload">
{% endcomment %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
    }
  }
{%- endstyle -%}
<style>
  .banner-section{
    position:relative
  }
  img.ellipse1{
    position:absolute;
    width:40px;
    height:40px;
    top:20%;
    left:10%;
  }
  img.ellipse2{
    position:absolute;
     width:100px;
    height:100px;
    z-index:-1;
    bottom:-22%;
    right:20%;
  }
  .banner-rich-text h2 {
    font-size: 62px;
    line-height: normal;
    margin-bottom: 17px;
  }
  .banner-rich-text p {
    color: #9a9a9a;
    font-size: 20px;
    line-height: 30px;
  }
  .banner-subheader {
    margin-bottom: 100px !important;
  }
  span.banner-os {
    background: linear-gradient(90deg, #f4dca8 43.26%, #f5be66 46.51%, #ff8038 49.72%, #ff38bb 53.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .carousel {
    height: 300px;
  }
  .swiper {
    width: 80%;
    height: 220px;
    overflow: hidden;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    {% comment %} border: 1px solid white; {% endcomment %}
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002, #0004);
  }
</style>

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class=" rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">

    <div class="banner-section rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <img 
      src="{{ "ellipse1.png" | asset_url }}" 
      alt="ellipse" 
      class="ellipse1"
      width="40"
      height="40"
      loading="lazy"
   >
   <img 
   src="{{ "ellipse2.png" | asset_url }}" 
   alt="ellipse" 
   class="ellipse2"
   width="100"
   height="100"
   loading="lazy"
  >
      <div class="banner-rich-text rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              {%- if block.settings.heading == blank -%}
                <h2
                  class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  ecom<span class="banner-os">OS</span> is the<br>
                  first-of-its-kind AI<br>
                  Landing page framework
                </h2>
              {%- else -%}
                <h2
                  class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {{ block.settings.heading }}
                </h2>
              {%- endif -%}

            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="banner-subheader rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="carousel swiper mySwiper page-width">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            {% if section.settings.carousel_image_1 != blank %}
              src="{{ section.settings.carousel_image_1 | image_url }}"
            {% else %}
              src="{{ 'placeholder.svg' | asset_url }}"
            {% endif %}
            alt="Custom Image"
            class="responsive-image"
            width="250"
            height="300"
            loading="lazy"
          >
        </div>
        <div class="swiper-slide">
          <img
            {% if section.settings.carousel_image_2 != blank %}
              src="{{ section.settings.carousel_image_2 | image_url }}"
            {% else %}
              src="{{ 'placeholder.svg' | asset_url }}"
            {% endif %}
            alt="Custom Image"
            class="responsive-image"
            width="250"
            height="300"
            loading="lazy"
          >
        </div>
        <div class="swiper-slide">
          <img
            {% if section.settings.carousel_image_3 != blank %}
              src="{{ section.settings.carousel_image_3 | image_url }}"
            {% else %}
              src="{{ 'placeholder.svg' | asset_url }}"
            {% endif %}
            alt="Custom Image"
            class="responsive-image"
            width="250"
            height="300"
            loading="lazy"
          >
        </div>
        <div class="swiper-slide">
          <img
            {% if section.settings.carousel_image_4 != blank %}
              src="{{ section.settings.carousel_image_4 | image_url }}"
            {% else %}
              src="{{ 'placeholder.svg' | asset_url }}"
            {% endif %}
            alt="Custom Image"
            class="responsive-image"
            width="250"
            height="300"
            loading="lazy"
          >
        </div>
        <div class="swiper-slide">
          <img
            {% if section.settings.carousel_image_5 != blank %}
              src="{{ section.settings.carousel_image_5 | image_url }}"
            {% else %}
              src="{{ 'placeholder.svg' | asset_url }}"
            {% endif %}
            alt="Custom Image"
            class="responsive-image"
            width="250"
            height="300"
            loading="lazy"
          >
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>

<script>
  document.addEventListener('DOMContentLoaded', function (event) {
    var swiper = new Swiper('.mySwiper', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 15,
        stretch: 0,
        depth: 300,
        modifier: 1,
        slideShadows: 'true',
      },
      loop: true,
      autoplay: {
        delay: 1000,
        disableOnInteraction: false,
      },
    });
  });
</script>

{% schema %}
{
  "name": "EcomOS Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label",
      "info": "t:sections.rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "image_picker",
      "id": "carousel_image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "carousel_image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "carousel_image_3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "carousel_image_4",
      "label": "Image 4"
    },
    {
      "type": "image_picker",
      "id": "carousel_image_5",
      "label": "Image 5"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
    {
      "type": "slide",
      "name": "Slide",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "EcomOS Banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
